body{
    padding: 0;
    margin: 0;
    background: #63e9c5;
    font-family: Arial, Helvetica, sans-serif;
}

.menu{
    background: #2fff5f;
    box-shadow: 0 2px 12px 2px #04373bb5;
}

.menu a{
    font-size: larger;
    font-weight: bolder;
}

.wrap{
    max-width: 1200px;
    margin: 0 auto;
    padding: 3px 10px;
    box-sizing: border-box;    
}

a{
    color:#1c1ab7;
    text-decoration: none;
}

a:hover, .out:hover, .save:hover{
    color: #07a7cb;
}

.description{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    font-style: oblique;
    text-align: justify;
}

.notes, .top{
    list-style: none;
    padding: 0;
}

.menu ul{
    display: flex;
    justify-content: space-between;
}

.logo{
    font-style: italic;
    color: brown;
}

.user{
    color: #d91567;
}

input, textarea{
    width: 70%;
    padding: 10px 10px;
    box-sizing: border-box;
    border-radius: 6px;
}

.create{
    width: 200px;
    height: 50px;
    background: #ffb115;
    font-size: larger;
}

.in, .out, .save, .del{
    background: #ffb115;
    cursor: pointer;
    color: #2fff5f;
}

.content{
    background-color: #5fccfa;
}

.content .element{
    padding: 10px;
    background: #6cff8e;
    box-shadow: 0 2px 3px 2px #006638;
    margin-bottom: 20px;
    font-size: 20px;
    border-radius: 4px;
}

.header{
    color: #5b0dae;
}

.text{
    font-size: 18px;
    margin: 10px;
    padding: 2px 10px 10px 10px;
    border: #003366;
    box-shadow: 0 2px 5px 2px #003366;
    background: #6cff8e;
}

.text img{
    max-width: 30%;
    float: left;
    margin-right: 20px;
}

span{
    color: #7a0234;
}

h1{
    color: #201606;
}

.picture{
    display: flex;
    justify-content: center;
}

.picture img{
    margin-top: 10px;
    width: 70%;
}

.heads{
    display: flex;
    justify-content: space-around;
    align-items: center;
}