<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="menu">
    <div class="wrap">
        <ul>
            <li class="logo"><a href="{% url 'home' %}">Главная</a></li>
            {% if request.user.is_authenticated %}
            <li><a href="{% url 'note_list' %}">Список заметок</a></li>
            <div class="auth">
                <div class="user">Пользователь: <i>{{ user.username }}</i></div>
                <form action="{% url 'user-logout' %}" method="post">
                    {% csrf_token %}
                    <button class="top">Выйти</button>
                </form>
            </div>
            {% else%}
            <li><a href="{% url 'user-signup' %}">Зарегистрироваться</a></li>
            <li><a href="{% url 'user-login' %}">Войти</a></li>

            {% endif %}
        </ul>
    </div>
</div>

<div class="content">
    <div class="wrap">
        {% block content %}
        {% endblock %}
    </div>
</div>

</body>
</html>