<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Notio{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'notes/favicon.ico' %}">
</head>
<body>
<div class="menu">
    <div class="wrap">
        <ul class="top">
            <li class="logo"><a href="{% url 'home' %}">Главная</a></li>
            {% if request.user.is_authenticated %}
            <li><a href="{% url 'note_list' %}">Ваши заметки</a></li>
            <div class="auth">
                <div
                        class="user"><a class="profile" href="{% url 'profile' %}">Пользователь:
                    <i>{{ user.username }}</i></a></div>
                <form action="{% url 'user-logout' %}" method="post">
                    {% csrf_token %}
                    <button class="out">Выйти</button>
                </form>
            </div>
            {% else%}
            <li><a href="{% url 'user-signup' %}">Зарегистрироваться</a></li>
            <li><a href="{% url 'user-login' %}">Войти</a></li>
            {% endif %}
        </ul>
    </div>
</div>

<div class="content">
    <div class="wrap">
        {% block content %}
        {% endblock %}
    </div>
</div>

</body>
</html>