{% extends 'notes/base.html' %}
{% load static %}
{% block title %} Notio {% endblock %}

{% block content %}
<h1><img width="35" height="35" src="{% static 'notes/favicon.ico' %}" alt="">otio</h1>
<h2>Ваши заметки о здоровом образе жизни хранятся здесь!</h2>
{% if request.user.is_authenticated %}
    <button class="create" type="submit"><a href="{% url 'note_form' %}">Создать заметку</a></button>
{% endif %}
<div class="picture">
    <img src="{% static 'notes/healthstyle.png' %}" alt="">
</div>

<div class="description">
<p>
    Понятие здоровый образ жизни включает в себя целый комплекс составляющих компонентов. Это не просто какая-то
    диета
    или занятия спортом. ЗОЖ — стиль жизни, направленный на омоложение и оздоровление всего организма, отказ от вредных
    привычек, создание режима дня, в котором есть место для полноценного отдыха, продуктивной работы и
    физической активности.
</p>
<p>
    Здоровый образ жизни делает возможным воплощение в жизнь многих планов и идей. А придерживающиеся его люди полны
    бодрости, здоровья, сил и энергии. Крепкое здоровье и хороший иммунитет, полученные при соблюдении принципов ЗОЖ
    позволят долгие годы наслаждаться жизнью и получать от неё максимальное удовольствие.
</p>
<p>Здоровый образ жизни имеет 7 основных «столпов»:</p>
<ol style="color: purple; font-size: 20px">
    <li><i>Правильное питание</i></li>
    <li><i>Физическая активность</i></li>
    <li><i>Гигиенический уход</i></li>
    <li><i>Соблюдение режима дня</i></li>
    <li><i>Укрепление иммунитета</i></li>
    <li><i>Эмоциональный настрой</i></li>
    <li><i>Отказ от вредных привычек</i></li>
</ol>
<p>На этом сайте вам предлагается создавать заметки и разбивать их по соответствующим категориям. Для этого
    необходимо пройти процедуру регистрации и авторизации, чтобы все записи сохранялись в ваш профиль. Таким образом
вы сможете сохранять полезные советы для поддержания своего организма в тонусе продолжительное время!</p>
</div>
{% endblock %}